<div class="profile-container">
          
          
          <div class="profile_items">
            <div class="profile_img">
              <%= image_tag(user.photo, alt: "User Image") if user.photo %> 
           </div>
            <div class="profile_content">
            <div>
              <span class="profile_joined">Joined: <%= user.created_at.strftime("%B %d, %Y") %></span>
              <div class="profile_username">@<%= user.name.gsub(/\s+/, "") %></div>
            </div>
            <div class="profile_right_info">
              <h2 class="profile_user_counter" id="profile_user_counter"><%= user.post_counter if user.post_counter %> <%= "0" if !user.post_counter %></h2>











<% if current_user.present? && current_user.id == user.id %>            
              <%= link_to "/users/#{user.id}/posts/new", class: "link_style" do %>
              <button class="button-29" role="button">New post</button>
              <% end %>
        
            <% end %>


            </div>
            </div>
          </div>
          
      </div>