<body class="main_page_body">

        <% if @all_users.empty? %>
        <div class="blog-slider">
        <div class="blog-slider__title center_message">No data found</div>
        </div>
        <% else %>



    <% @all_users.each do |user| %>
        <div class="blog-slider">
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <%= image_tag(user.photo, alt: "User Image") if user.photo %>
            </div>
            <div class="blog-slider__content">
            
              <span class="blog-slider__code">Joined: <%= user.created_at.strftime("%B %d, %Y") %></span>
              <div class="blog-slider__title"><%= user.name %></div>
              <div class="blog-slider__text"> <%= user.bio %></div>
              <%= link_to "Post: #{user.post_counter if user.post_counter} #{"0" if !user.post_counter} ", "/users/#{user.id}", class: "blog-slider__button" %>
            </div>
          </div>
          
      </div>
<% end %>

<% end %>
   
    
</body>
