<body class="users_page_body">

          <%= render 'partials/profileheader', :user => @user%>

      <div class="blog-slider">
     <h2 class="background double newcolor"><span>Biography</span></h2>
      <div class="biografia_text"> <%= @user.bio %>
      </div>
      </div>

      <% if @user.posts.empty? %>
            <%= render 'partials/nodata' %>
      <% else %>

<% @user.recent_posts.each do |user_post| %>
            
      <%= link_to "/users/#{@user.id}/posts/#{user_post.id}", class: "link_style", id: "post_#{user_post.id}" do %>

      <div class="blog-slider">
      <h2 class="background double"><span>Post #<%= user_post.id %>: <%= user_post.title %> </span></h2>
            <div class="biografia_text margin_bottom"> <%= user_post.text %> </div>
            
            <div class="likes_comments_align">
            <span>Comments: <%= user_post.comments_counter if user_post.comments_counter %> <%= "0" if !user_post.comments_counter %></span>
            <span>Likes: <%= user_post.likes_counter if user_post.likes_counter %> <%= "0" if !user_post.likes_counter %></span>
            </div>
      </div>
              <% end %>
<% end %>

                <%= render 'partials/generalbutton', :message => "See all posts", :link => "/users/#{@user.id}/posts"%>

      <% end %>


    
</body>