<body class="users_page_body">

    <div class="profile-container">
          
          
          <div class="profile_items">
            <div class="profile_img">
              <%= image_tag(@user.photo, alt: "User Image") if @user.photo %> 
           </div>
            <div class="profile_content">
            <div>
              <span class="profile_joined">Joined: <%= @user.created_at.strftime("%B %d, %Y") %></span>
              <div class="profile_username">@<%= @user.name.gsub(/\s+/, "") %></div>
            </div>
              <button class="button-17" role="button">Posts: <%= @user.post_counter if @user.post_counter %> <%= "0" if !@user.post_counter %></button>
            </div>
          </div>
          
      </div>




      <div class="blog-slider">
     <h2 class="background double newcolor"><span>Biography</span></h2>
      <div class="biografia_text"> <%= @user.bio %>
      </div>
      </div>

<% @user_posts.each do |user_post| %>
              <a href="/users/<%= @user.id %>/posts/<%= user_post.id %>" class="link_style">

      <div class="blog-slider">
      <h2 class="background double"><span>Post #<%= user_post.id %>: <%= user_post.title %> </span></h2>
            <div class="biografia_text margin_bottom"> <%= user_post.text %> </div>
            
            <div class="likes_comments_align">
            <span>Comments: <%= user_post.comments_counter if user_post.comments_counter %> <%= "0" if !user_post.comments_counter %></span>
            <span>Likes: <%= user_post.likes_counter if user_post.likes_counter %> <%= "0" if !user_post.likes_counter %></span>
            </div>
      </div>
              </a>
<% end %>


<a href="/users/<%= @user.id %>/posts" class="link_style center_button">
<button class="button-29" role="button">See all posts</button>
</a>


    
</body>